form {
    text-align: center;
    margin: auto;
    width: 100px; 
    height: 100px; 
    display: block; 
}
.post {
    margin: auto; 
    display: block; 
}
button {
    margin: auto;
    background-color: pink;  

}
#main {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center; 
}

